body{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
header div{
    background-color: #acafb6;
}
header div h1{
    display: inline;
    font-size: 50px;
    padding-left: 20px;
}
header div a{
    display: block;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#title{
    padding-top: 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#article{
    padding-bottom: 40px;
    padding-top: 10px;
    font-size: 20px;

}
.pic{
    padding-left: 90px;
    padding-right: 20px;
}